.App {
  text-align: center;
}
.button-holder {
  margin-bottom: 1px;
}

.button-holder button {
  margin: 5px;
}

.message-handler {
  padding: 5px;
  margin: 5px;
  width: 80vw;
  height: 15vh;
  position: relative;
  left: 10vw;


}

.message-handler div {
  padding: 5px;
  text-align: center;
}

.message-handler textarea {
  padding: 5px;
  width: 80%;
  height: 10vh;
}

h1 {
  margin: 5px;
}

h2 {
  margin: 2px;
}